html {
    background-color:#FFFCF7;
}

header {
    background-color: #290133FF;
}


.nav-link{
    font-family: Sree Krushnadevaraya;
    font-size: 25px;
    color:#C4951D;
}

.chery-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;  
    width: 300px;
}

.container {
    display: block;
    margin: auto;
    padding-top: 50px;
}


.fs-1 {
    color:#C4951D;
    font-family:Sree Krushnadevaraya;
}

.fs-5 {
    color:#290133FF;
    font-family:Cormorant Infant, semi-bold;
}

.jeff {
    width: 500px;
    height: 500px;
}


footer {
    background-color:#290133FF;
    color:#C4951D;
    font-family:Cormorant Infant;
    text-align: center;
    font-size: 20px;
}

footer p {
    padding-top: 20px;
}

