html {
    background-color:#FFFCF7;
}

header {
    background-color: #290133FF;
}


.nav-link{
    font-family: Sree Krushnadevaraya;
    font-size: 25px;
    color:#C4951D;
}

.chery-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;  
    width: 300px;
}


.fs-1 {
    color:#C4951D;
    font-family:Sree Krushnadevaraya;
    text-align: center;
}

.butterfly {
    width: 500px;
    height: 300px;
}

.container {
    font-family: Sree Krushnadevaraya;
    color:#290133FF;
    width: 500px;
    padding-bottom: 50px;
}

.btn {
    background-color: #C4951D;
}

.btn:hover {
    background-color:#290133FF;
}



footer {
    background-color:#290133FF;
    color:#C4951D;
    font-family:Cormorant Infant;
    text-align: center;
    font-size: 20px;
}


footer p {
    padding-top: 20px;
}

